<div class='container bg-secondary bg-gradient rounded m-3 opacity-75 d-flex flex-column justify-content-center align-items-center'>
  <h2>How's the weather?</h2>
  <p>Type the IATA code of your city in the search box and hit "Search" to check the weather of any city you want</p>
  <p>Registered users can see their last 10 searches. <a href=<%= new_user_registration_path %>>Sign up</a> or <a href=<%= new_user_session_path %>>Log in.</a></p>
  <br>
  <p>Don't know the IATA code of your city? <a href='https://www.iata.org/en/publications/directories/code-search/'>You can look it up in the official site.</p>
</div>