<div class="d-flex container bg-secondary bg-gradient rounded opacity-75 justify-content-center">
  <p>Don't know a IATA code? look it up <a href='https://www.iata.org/en/publications/directories/code-search/'>here</a></p>
</div>