  <% if user_signed_in? %>
    <div class="d-flex flex-row">
      Logged in as <%= current_user.email %> <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-danger ms-3" %>
    </div>
  <% else %>
    <div class="d-flex flex-row">
      You are not logged in, <%= button_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-success ms-3" %>
       or 
      <%= button_to "Log in", new_user_session_path, class: "btn btn-sm btn-info ms-2 me-2"%>
    </div>
  <% end %>