  <% if user_signed_in? %>
    <div>
      Logged in as <%= current_user.email %> <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <div>
      You are not logged in, <a href=<%= new_user_registration_path %>>Sign up</a> or <a href=<%= new_user_session_path %>>Log in</a>
    </div>
  <% end %>